<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/styles-profile.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap" rel="stylesheet">
    <title>{{data{"Name"}}}</title>
</head>

<body>
    <div class="grey-border-box">
        <div id="profile-box">
            <img id="profile" src="{{data['image']}}">
        </div>
        <div class="info-group" id="lines-left">
            <label>Name:</label>
            <span class="info-span" id="lines">{{data["Name"]}}</span>
        </div>
        <div class="gray-line">
        </div>
        <div class="info-group" id="lines-left">
            <label>Frequency:</label>
            <span class="info-span" id="lines">{{data["frequency"]}}</span>
        </div>
    </div>
    <div id="que">
        <div class="sub-heading">
            Questions Asked By {{data["Name"]}}
        </div>
        <table id="ques-tab">
            <Tr>
                <th>Questions</th>
                <th>To</th>
                <th>Confidence</th>
            </Tr>
            {%for question in data["Questions"]%}

            <tr>
                <td>{{question["Question"]}}
                </td>
                <td>{{question["to"]}}
                </td>
                <td>{{question["Confidence"]}}
                </td>
            </tr>
            {%endfor%}
        </table>

    </div>

</body>

</html>