* {
    margin: 0;
    padding: 0;
    font-family: Roboto slab;
    user-select: none;
}

#img_co {
    text-align: center;
    font-size: 1.1vw;
}

img {
    width: 25%;
    margin-top: 5%;
    margin-bottom: 1%;
    border-radius: 10px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.gray-line {
    background-color: rgb(194, 194, 194);
    padding: 0.2%;
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 100px;
}

.info-span {
    padding: 2%;
    color: #3399FF;
}

label {
    padding: 2%;
}

.info-group {
    display: flex;
    justify-content: space-between;
    margin: 2%;
    font-size: 1.3vw;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#profile-box {
    text-align: center;
}

.grey-border-box {
    margin-top: 5%;
    border: solid rgb(194, 194, 194) 5px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
    padding: 1%;
    margin-bottom: 10%;
}

#ran1 {
    margin-left: 20%;
    margin-right: 20%;
}