* {
    margin: 0;
    padding: 0;
    font-family: Roboto slab;
    user-select: none;
}

html {
    background-size: cover;
    background-repeat: no-repeat;
}

#heading {
    font-size: 2.3vw;
    text-align: center;
    margin-top: 5%;
}

.grey-border-box {
    margin-top: 5%;
    border: solid rgb(194, 194, 194) 2px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
    padding: 1%;
    margin-bottom: 10%;
}

.info-group {
    display: flex;
    justify-content: space-around;
    margin: 2%;
    font-size: 1.3vw;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 75%;
    padding-top: 1.3vw;
}

.img-cont {
    text-align: center;
    width: 100%;
    margin: 1%;
    padding: 1%;
    transition-duration: 0.2s;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #cccccc;
}

.img-cont:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

figcaption {
    display: block;
    font-size: 1vw;
    text-align: center;
}

.gray-line {
    background-color: rgb(194, 194, 194);
    padding: 0.2%;
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 100px;
}

.info-span {
    padding: 2%;
    color: #3399FF;
}

label {
    padding: 2%;
}

button {
    display: block;
    padding: 2%;
    background-color: rgb(51, 153, 255);
    color: white;
    border: none;
    font-size: 1.4vw;
    border-radius: 5px;
    outline: none;
    margin: 4%;
    margin-left: auto;
    margin-right: auto;
}

button {
    transition-duration: 0.2s;
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 128, 255)
}

.sub-heading {
    font-size: 1.8vw;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}

#sub-heading-text {
    font-size: 2vw;
    margin-top: auto;
    margin-bottom: auto;
}

.sub-heading-button {
    font-size: 1.5vw;
    margin-bottom: 0;
    padding: 1%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 4%;
}

.search-box {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4vw;
    width: 50%;
    border-radius: 100px;
    border: none;
    background-color: rgb(236, 236, 236);
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    outline: none;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

#sub-heading {
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
}

.control-panel {
    font-size: 1.5vw;
    margin-bottom: 0;
    padding: 1%;
    margin-top: auto;
    margin-bottom: auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    font-size: 1.3vw;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    height: 10%;
    display: block;
}

td,
th {
    border: 3px solid black;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    padding: 8px;
    text-align: center;
}

td.text {
    text-align: justify;
    padding: 2%;
    width: 70%;
    height: auto;
}

tr:nth-child(even) {
    background-color: #b3d9ff;
}